:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-size: 1.6rem;
  display: grid;
  min-height: 100vh;
}
.hide {
  display: none;
}

main {
  display: flex;
  max-width: 82.1rem;
  height: 33.6rem;
  gap: 19.2rem;
  align-items: center;

  align-self: center;
  justify-self: center;
}

/* Parte do cronometro*/
.timer span {
  font-size: 12rem;
  font-family: "Roboto", sans-serif;
}

.controls {
  display: flex;
  gap: 4rem;
  justify-content: center;

  margin-top: 4.8rem;
}

.controls button {
  background: none;
  border: none;
  cursor: pointer;
}
.controls button svg {
  width: 4.8rem;
  height: 4.8rem;
}

/*Parte dos cards de som*/

.cards {
  display: grid;
  grid-template-areas:
    "A B"
    "C D";
  gap: 3.2rem;
}

.cards .card {
  width: 13.8rem;
  height: 15.2rem;
  border-radius: 2.4rem;
  border: none;
}

.card svg path:hover {
  fill: white;
  cursor: pointer;
}

.cards .card:hover {
  background-color: #02799d;
  cursor: pointer;

  transition: all 2s;
}

/*Tema dark*/
.button {
  position: absolute;
  width: 4.4rem;
  height: 4.4rem;
  right: 6.4rem;
  top: 6.4rem;
  background: none;
  border: none;

  cursor: pointer;
}
.invisible {
  display: none;
}
.dark {
  background-color: #121214;
  color: #ffffff;
}
.dark .controls .play svg path,
.dark .controls .pause svg path,
.dark .controls .stop svg path,
.dark .controls .mais svg path,
.dark .controls .menos svg path {
  fill: #ffffff;
}
.dark #btn-light svg path {
  fill: #ffffff;
}

.dark .cards .card {
  background-color: #29292e;
}
.dark .cards .card:hover {
  background-color: #0a3442;
}
.dark .cards .floresta svg path,
.dark .cards .chuva svg path,
.dark .cards .lanchonete svg path,
.dark .cards .lareira svg path {
  fill: #ffffff;
}
